<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="layout">
      <%- body %>
      <div id="layout-footer"></div>
    </div>
    <div id="footer-wrap">
      <div id="footer">
        <div class="footer-content"><a id="github-link" href="https://github.com/dreamerslab/express-todo-example" target="_blank">Code</a> by</div>
        <a href="http://dreamerslab.com/" id="dreamerslab" target="_blank">DreamersLab</a>
        <div class="footer-content">&#169;</div>
      </div>
    </div>
   <!-- <script src="/javascripts/ga.js"></script> -->
  </body>
</html>